name: Build and Deploy Docker Image to Azure octopus
on:
  push:
    branches:
      - main
env:
  AZURE_CONTAINER_REGISTRY: azurepoc123
  Resource_Group: cfsh-cc-d-rg02
  CONTAINER_APP_NAME: hello123
jobs:
  build-and-deploy:
    name: Build and Push Docker Image to ACR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        
      - name: Login to Azure
        uses: docker/login-action@v3
        with:
          registry: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io
          username: ${{ secrets.ACR_NAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      - name: PUSH TO ACR
        uses: docker/build-push-action@v6
        with:
           push: true
           tags: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_APP_NAME }}:${{ github.sha }}
           file: Dockerfile
 
